.content
      padding: 20px
      background-color: #F5F6FA
      height: 100%
      
.knowledge-cards
      display: grid
      grid-template-columns: 1fr 1fr 1fr 1fr
      gap: 32px
      margin-bottom: 28px
      
.secondary-cards
      display: grid
      grid-template-columns: 1fr 1fr
      gap: 32px
      margin-bottom: 28px

.questions
      text-align: center
      border-top: 1px solid #D7DBEC