<section class="content">
  <h2>Knowledge Base</h2>
  <app-search-bar [customClass]="'contentSearchBar'"></app-search-bar>

  <section class="knowledge-cards">
    <app-knowledge-card
      *ngFor="let card of knowledgeCards"
      [cardData]="card"
    ></app-knowledge-card>
  </section>
  <section class="secondary-cards">
    <app-secondary-knowledge-card
      [cardData]="card"
      *ngFor="let card of secondaryCards"
    ></app-secondary-knowledge-card>
  </section>
  <section class="questions">
    <h3>Still Need Help?</h3>
    <p class="secondary-blue">
      Get in touch with us and we will be happy to help you out!
    </p>
    <button class="contact-btn">Contact Support</button>
  </section>
</section>
