<section class="content">
  <h1>Knowledge Base</h1>
  <p>search bar</p>
  <section class="knowledge-cards">
    <app-knowledge-card
      *ngFor="let card of knowledgeCards"
      [cardData]="card"
    ></app-knowledge-card>
  </section>
  <section class="secondary-cards">
    <app-secondary-knowledge-card
      [cardData]="card"
      *ngFor="let card of secondaryCards"
    ></app-secondary-knowledge-card>
  </section>
  <section class="questions">
    <h2>Still Need Help?</h2>
    <p>Get in touch with us and we will be happy to help you out!</p>
    <button>Contact Support</button>
  </section>
</section>
