.content
      padding: 20px
      background-color: #F5F6FA
      height: 100%
      color: #131523
      
      
.content h2
      font-size: 24px
      
.knowledge-cards
      display: grid
      grid-template-columns: 1fr 1fr 1fr 1fr
      gap: 32px
      margin-bottom: 28px
      
.secondary-cards
      display: grid
      grid-template-columns: 1fr 1fr
      gap: 32px
      margin-bottom: 28px

.questions
      text-align: center
      border-top: 1px solid #D7DBEC
      
.questions h3
      font-size: 24px
      
.contact-btn
      background-color: #1E5EFF
      color: #FFFFFF
      border: none
      font-size: 16px
      border-radius: 4px
      padding: 12px
      
.contact-btn:hover
      cursor: pointer

.search
      width: 100%
      padding: 10px 30px
      border: 1px solid #D9E1EC
      border-radius: 4px
      font-size: 16px
      margin-bottom: 8px
      background-color: white  !important     
      background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.9791 3C15.1213 3 18.4791 6.35786 18.4791 10.5C18.4791 12.2101 17.9067 13.7866 16.9431 15.0483L20.1862 18.2929C20.5768 18.6834 20.5768 19.3166 20.1862 19.7071C19.8258 20.0676 19.2585 20.0953 18.8662 19.7903L18.772 19.7071L15.5274 16.464C14.2657 17.4276 12.6893 18 10.9791 18C6.83699 18 3.47913 14.6421 3.47913 10.5C3.47913 6.35786 6.83699 3 10.9791 3ZM10.9791 5C7.94156 5 5.47913 7.46243 5.47913 10.5C5.47913 13.5376 7.94156 16 10.9791 16C12.3303 16 13.5676 15.5128 14.5251 14.7045C14.5702 14.5536 14.6529 14.412 14.772 14.2929C14.8911 14.1738 15.0328 14.091 15.1832 14.0446C15.9919 13.0885 16.4791 11.8511 16.4791 10.5C16.4791 7.46243 14.0167 5 10.9791 5Z' fill='%237E84A3'/%3E%3C/svg%3E%0A") no-repeat left
      
.search::placeholder
      color: #A1A7C4
      opacity: 1 /* Firefox */



      