
*
      box-sizing: border-box

html, body
      font-family: 'Inter', sans-serif

body
      margin: 0
      
button
      font-family: 'Inter', sans-serif
      
input
      font-family: 'Inter', sans-serif

.secondary-blue
      color: #5A607F
      
.tertiary-blue
      color: #A1A7C4

@font-face
    font-family: 'Gilroy'
    src: url('assets/fonts/gilroy-free/Gilroy-ExtraBold.otf') format('truetype')