.nav-sidebar
      position: relative
      background-color: #F5F6FA
      border-right: 1px solid #D7DBEC
      width: 250px
      padding: 16px
      height: 100vh
      z-index: 1
      
      
.nav-list
      padding-left: 0
      list-style-type: none
      

      