<nav class="nav-sidebar">
  <ul class="nav-list">
    <li *ngFor="let item of navItems">
      <a class="secondary-blue" href="#">{{ item.icon }} {{ item.name }}</a>
    </li>
  </ul>
  <ul class="nav-list">
    <p class="tertiary-blue nav-category">Other Information</p>
    <li *ngFor="let item of otherInformation">
      <a class="secondary-blue" href="#">{{ item.icon }} {{ item.name }}</a>
    </li>
  </ul>
  <ul class="nav-list">
    <p class="tertiary-blue nav-category">Settings</p>
    <li class="nav-link" *ngFor="let item of settings">
      <a class="secondary-blue" href="#">{{ item.icon }} {{ item.name }}</a>
    </li>
  </ul>
</nav>
