<nav class="nav-sidebar">
  <ul class="nav-list">
    <li *ngFor="let item of navItems">
      <a class="secondary-blue nav-link" [href]="item.link">
        <img [src]="item.icon" [alt]="item.name" /><span
          class="nav-item-text"
          >{{ item.name }}</span
        >
        <ng-container *ngIf="item.orders">
          <div class="order-container">{{ item.orders }}</div>
        </ng-container>
      </a>
    </li>
  </ul>
  <ul class="nav-list">
    <p class="tertiary-blue nav-category">Other Information</p>
    <li *ngFor="let item of otherInformation">
      <a class="secondary-blue" [href]="item.link"
        ><img [src]="item.icon" [alt]="item.name" />
        <span class="nav-item-text">{{ item.name }}</span></a
      >
    </li>
  </ul>

  <ul class="nav-list">
    <p class="tertiary-blue nav-category">Settings</p>
    <li *ngFor="let item of settings">
      <a class="secondary-blue" [href]="item.link"
        ><img [src]="item.icon" [alt]="item.name" /><span
          class="nav-item-text"
          >{{ item.name }}</span
        ></a
      >
    </li>
  </ul>
</nav>
