@use '../../variables'
      
.secondary-card
      background-color: #FFFFFF
      border-radius: 6px
      padding: 28px
      height: 100% 

h3
      margin-top: 0
      font-size: 20px
      
p, a
      font-size: 14px
      
.secondary-card-link
      color: variables.$blue
      text-decoration: none
      
.secondary-card-link:hover
      text-decoration: underline