<header class="header">
  <div class="flex-group title">
    <img class="logo" src="./assets/svg/logo.svg" alt="Modernize logo" />
    <h1>Modernize</h1>
  </div>

  <app-search-bar [customClass]="'headerSearchBar'"></app-search-bar>

  <div class="flex-group user-group">
    <div class="flex-group user-notifs">
      <img src="./assets/svg/inboxIcon.svg" alt="Inbox icon" />
      <div class="flex-group notifications">
        <img src="./assets/svg/bellIcon.svg" alt="Notifications icon" />
        <div class="notifications-number">{{ userInfo.notifications }}</div>
      </div>
    </div>

    <div class="flex-group user-info">
      <img class="user-avatar" [src]="userInfo.avatar" alt="User avatar" />
      <p>{{ userInfo.name }}</p>
      <button>
        <img src="./assets/svg/downArrow.svg" alt="Down arrow" />
      </button>
    </div>
  </div>
</header>
